@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
h1 {
  text-align: center;
  margin: 12px 0;
}
.container {
  min-height: 78vh;
  margin: 23px;
}
.container h1 {
  font-family: "Edu SA Beginner", cursive;
}
.myForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.myInput {
  width: 40%;
  padding: 9px;
  margin: 8px;
  font-size: 15px;
  border: 2px solid darkred;
  border-radius: 12px;
  outline: none;
}
.btn {
  padding: 10px 14px;
  font-size: 18px;
  border: 2px solid rgb(0, 0, 0);
  color: white;
  background-color: darkred;
  cursor: pointer;
  border-radius: 10px;
}
